
<CascadingValue Value="this" IsFixed="true">
    <div style="margin-left: -12px;
        margin-top: -12px;
        margin-bottom: 8px;
        font-size: 180%">@TITLE</div>

        @*  Search has WrapperV3 Wrapper, must same as Wrapper*@
        <SearchCompV3 Filters="@Filters"
                      PageHelper="PageHelper" />


        @ChildContent

        @if (PageHelper.PageCount > 1)
        {
            <PagingCompV2 Filters="@Filters" PageHelper="PageHelper" />
        }

        @*  </div>*@

    </CascadingValue>

    @code {
        //CS0305 Using the generic type 'WrapperV3<TItem>' requires 1 type arguments
        //   [Parameter]
        //https://github.com/dotnet/aspnetcore/issues/15014
        //        public IReadOnlyList<TItem> Items { get; set; } //NOTE by Mark, 如果沒有這個, 模板會很麻煩
        //     public IReadOnlyList<TItem> Items { get; set; } //NOTE by Mark, 如果沒有這個, 模板會很麻煩

        [Parameter]
        public IFiltersA000 Filters { get; set; } // NOTE by Mark, 2021-01-18, 解決排序的一些問題

        [Parameter]
        public IPageHelperA000 PageHelper { get; set; } // NOTE by Mark, 2021-02-03, 解決TABLE SEQ



        /// <summary>
        /// Renders whatever is inside the tags and cascades a copy of itself.
        /// </summary>
        [Parameter]
        public RenderFragment ChildContent { get; set; }

        /// <summary>
        /// Call when the filter has changed to refresh the <see cref="Contact"/>
        /// list.
        /// </summary>
        [Parameter]
        public EventCallback FilterChanged { get; set; }


        [Parameter]
        public EventCallback ToWrite { get; set; }

        /// <summary>
        /// Call when a contact is requested to be deleted.
        /// </summary>
        [Parameter]
        public EventCallback<string> DeleteRequested { get; set; }

        [Parameter]
        public string TITLE { get; set; }


        /// <summary>
        /// The id of the <see cref="Contact"/> to be deleted.
        /// </summary>
        public string DeleteRequestId { get; set; }
    }
