@page "/notes"

<h1>NOTES</h1>


<hr />
<h3>實施要點:</h3>
<ul>
    <li>2021-02-01 Kickoff meeting 項目對接人員</li>
    <li>2021-02-01 銷售訂單和庫存管理基本討論</li>

    <li>[TBD] 產品及物料主檔</li>
    <li>[TBD] 供應商主檔</li>
    <li>[TBD] 客戶主檔</li>
    <li>
        [TBD] 各方人員帳號及權限設置
        <ul><li>以郵箱為帳號</li></ul>
    </li>
    <li>
        [TBD] 服務器配置
        <ul><li>阿里云, 內地, IP,不使用域名</li></ul>
    </li>

</ul>